@import url('https://fonts.googleapis.com/css?family=Mali');

div {
  float: left;
  height: 200px;
  padding: 100px;
  margin-bottom: 50px;
  width: 20%;
}

div img {
  margin: auto;
  width: 80%;
}

div h2 {
  font-family: 'Mali', cursive;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
}

div p {
  font-size: .7em;
  padding-top: 10px;
  text-align: center;
}

header {
  border-bottom: 2px solid black;
  font-size: 2em;
  padding: 20px;
  text-align: center;
}

footer {
  clear: both;
}